# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# gradle wrapper
gradle/*

# Ignore intellij files except run configurations
codeStyles/
compiler.xml
gradle.xml
jarRepositories.xml
libraries/
misc.xml
modules.xml
uiDesigner.xml
workspace.xml
.idea/modules/*
.idea/vcs.xml
out/

**/out/*
